<script>
var movies = [
<% @movies.each do |movie|%>
    <%= "{title: #{movie.title}, year: #{movie.year}}," %>
<% end %>
];

</script>
<table>
    <tr>
    <% @movies.each_with_index do |movie, index| %>
        <% puts movie %>
        <td class="poster" id=<%= index %> >
            <img style="text-align:center; width: 85px; height: 128px" src=<%= (movie.poster)? movie.poster : "http://moviecarpet.com/wp-content/uploads/2011/05/no-poster.jpg" %>></img>
        </td>
    <% end %>
    </tr>
    <tr>
        <% @movies.each_with_index do |movie, index| %>
        <td class = "title" id=<%= index %> style="font-weight:bold;">
            <%= movie.title  %>
        </td>
    <% end %>
    </tr>
</table>